*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 20px;
}

nav{
    background-color: #255EE9;
}

header{
    height: 650px;
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20px;
}

a{
    margin-right: 20px;
    color: #fff;
    text-decoration: none;
}

button{
    background-color: #fff;
    border-radius: 30%;
    padding: 12px;
    border: none;
    font-size: 20px;
}

.black-button{
    background-color: rgba(0, 0, 0, 0.829) ;
    color: #fff;
}

.flex-container-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
}

.flex-container-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    margin: auto;
    height: 500px;
}

.flex-item{
    color: #fff;  
}

.flex-container-head h1, p{
    margin-top: 50px;
}

.title{
    margin-top: 30px;
}

.button-flex-container{
    display: flex; 
    width: 100%;
    justify-content: center;
    align-items: center; 
    margin-top: 10px;
}

.button-flex-container button{
    margin-right: 10px;
    padding: 15px;
}

h1{
    font-size: 35px;
}

/* fine dell'header */
/* inizio main */

.main-flex-container{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.main-flex-item-1{
    flex-basis: 600px;
    height: 400px;
    background-image: url(../img/item1.svg);
    background-size: cover;
}

.main-flex-item-2{
    flex-basis: 400px;
    height: 400px;  
    text-align: center;
    padding: 30px;
}

.main-flex-container-2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-bottom: 20px;
    background-color: lightgrey;
}

.main-flex-container-2 .main-flex-item-1{
    background-image: url(../img/item2.svg);
}

.alt{
    background-image: url(../img/item3.svg);
}

.last-section{
    background-color: lightgray;
    padding: 20px;
}

.last-sect-child{
    width: 45%;
    margin: auto;
    margin-top: 50px;
}

/* fine del main */
/* inizio footer */

footer{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.829)   
}

.footer-flex-container{
    display: flex;
    width: 70%;
    margin: auto;
    height: 600px;
    align-items: stretch;
}

.footer-flex-item{
    width: calc(100% / 5);
    background-color: cyan;
    border: 1px solid black;
    margin-top: 2px;
    margin-bottom: 10px;
}

.bigger{
    width: 350px;
    background-color: tomato;
}

hr{
    color: white;
}

.info-container{
    display: flex;
    width: 70%;
    height: 60px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    background-color: cyan;
    margin-top: 10px;
}

.info{
    background-color: pink;
    padding: 5px;
}
