*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 20px;
}

nav{
    background-color: #255EE9;
}

header{  
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20px;
}

a{
    margin-right: 20px;
    color: #fff;
    text-decoration: none;
}

button{
    background-color: #fff;
    border-radius: 15px;
    padding: 12px;
    border: none;
    font-size: 20px;
    border: 1px solid #fff;
    cursor: pointer;
}

button:hover{
    background-color: transparent;
}
.black-button{
    background-color: rgba(0, 0, 0, 0.829) ;
    color: #fff;
    border: 1px solid #000;
}

.flex-container-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
}

.flex-container-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.flex-container-head p{
    line-height: 45px;
    padding: 3px;
}
.flex-item{
    color: #fff;  
}

.flex-container-head h1, p{
    margin-top: 50px;
}

.title{
    margin-top: 30px;
    font-size: 45px;
}

.button-flex-container{
    display: flex; 
    width: 100%;
    justify-content: center;
    align-items: center; 
    margin-top: 10px;
}

.button-flex-container button{
    margin-right: 10px;
    padding: 15px;
}

h1{
    font-size: 35px;
}

/* fine dell'header */
/* inizio main */

.main-flex-container{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.main-flex-item-1{
    flex-basis: 600px;
    background-image: url(../img/item1.svg);
    background-size: cover;
}

.main-flex-item-2{
    flex-basis: 400px;
    text-align: center;
    padding: 30px;
}

.main-flex-container-2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-bottom: 20px;
    background-color: lightgray;
}

.main-flex-container-2 .main-flex-item-1{
    background-image: url(../img/item2.svg);
}

.alt{
    background-image: url(../img/item3.svg);
}

.last-section{
    background-color: lightgray;
    padding: 20px;
}

.last-sect-child{
    width: 45%;
    margin: auto;
    margin-top: 50px;
}

.last-sect-child h1, p{
    text-align: center;
}

.last-sect-child img{
    max-width: 850px;
    max-height: 510px;
}

.final-title{
    text-align: center;
}

.final-container{
    background-image: url(../img/stars.svg);
    height: 70px;
    background-size: contain;
}

.final-button-container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.final-button-container button{
    background-color: rgba(69, 69, 160, 0.719);
    color: #fff;
    border: 1px solid rgba(69, 69, 160, 0.719);
}

.final-button-container button:hover{
    background-color: transparent;
}

/* fine del main */
/* inizio footer */

footer{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.829)   
}

.footer-flex-container{
    display: flex;
    width: 70%;
    margin: auto;
    align-items: stretch;
    padding-top: 25px;
    padding-bottom: 25px;
}

.footer-flex-item{
    width: calc(100% / 5);
    margin-top: 10px;
    margin-bottom: 10px;
    flex-grow: 1;
}

.bigger{
    flex-grow: 2;
    margin-right: 50px;
}

.footer-flex-item h2{
    color: rgba(69, 69, 160, 0.719);
    font-weight: bold;
}

.footer-flex-item ul li{
    list-style: none;
    color: #fff;
    margin-top: 15px;
}

 ul li:first-child{
    color: rgba(69, 69, 160, 0.719);
    font-weight: bold;
}

.language{
    color: white;
}

.language-container{
    margin-top: 10px;
}

i{
    color: #fff;
    margin-top: 15px;
    margin-right: 10px;
}

.footer-flex-container img{
    width: 30px;
    height: 20px;
}

.language::after{
    content: '\2B9B';
    margin-left: 4px;
}

hr{
    color: white;
}

.info-container{
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.info-container button{
    background-color: rgba(69, 69, 160, 0.7);
    color: #fff;
    border: 1px solid rgba(69, 69, 160, 0.719);
}

.info-container button:hover{
    background-color: transparent;
}